.menu {
    width: 100%;
    font-family:cursive;
    background-color:rgb(0, 0, 83) ;
    color:#ba35a6;
    font-size: x-large;
    
}

.btnNavbar {
    background: #ba35a6;
    color: antiquewhite;
}

.h1 {
    margin-left: 50px;
    color:antiquewhite;
}

.colorletra {
    color: antiquewhite;
}


.fotomia {
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
   }

.main {
    background-image: url('./images/fotoCodigo2.jpg');
    background-size: cover;
    background-position: center;
    /* background-color:cornsilk; */
    padding: 5%;
    width: 80vp;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.sobreMi {
    font-weight: bold;
    font-size: x-large;
}

.tituloSobreMi {
    color:aliceblue

}

.divider {
    height: 4px;
    width: 80px;
    background-color: #b64869;
    margin-bottom: 50px;

}
.parrafoSobreMi {
    background-color: #98dfe7;
    color:darkblue;
    padding: 20px;
    /* color: #b64869; */
}

.iconoSobreMi {
    font-size:50px;
    color:aliceblue;
}

.inconoSobreMi2 {
    font-size:50px;
    /* margin-left: 100px; */
    margin-top: 40px;
    color:#b64869;
}

.portafolio {
    background-image: url('./images/fotoProgramacion.jpg');
    /* background-color:darkgray; */
    height: 100%;
    background-size: cover;
    background-position: center;
}

.tituloPortafolio {
    color:#742b5b;
    background-color:#98dfe7;
    font-weight: bold;
    margin-top: 10px;
}
.card1 {
    background-color:#ffc7ab ;
    border-radius: 10px;
}

.card2 {
    background-color:#98dfe7;
    border-radius: 10px;
}

.imagencard {
    border-radius: 20%;
}
.tituloCard {
    color:  #8e3c68;
  
}

.card-text {
    color:palevioletred ;
}

.cardbody2 {
    background-color: aliceblue;
    
}

.btnAcordion {
    background-color: #742b5b;
    color: aliceblue;
    border-radius: 10px;
}
.iconos2 {
    color:aliceblue;
    font-weight: bold;
}

.seccionInsignias {
    background-color: #742b5b;
    padding: 40px;
}
.tituloInsignias {
    color:rgb(4, 4, 178); 
    margin-left: 150px;
  }
  
  .fotosInsignias {
      width: 300px;
      margin-left: 20px;
      margin-bottom: 20px;
  }
  
  .fotosInsignias1 {
    width: 500px;
      margin-left: 20px;
      margin-bottom: 20px;
  }
.contacto {
    max-width: 100%;
    background-image: url('./images/fotoCodigo.jpg');
    justify-content: center;
    text-align: center;
    
}

.tituloContacto {
    color: aqua;
}

.formulario {
    background-color: aqua;
    max-width: 70%;
}

.btnContacto {
  background-color:darkblue;
  color: aliceblue;
}

.logoInstagram {
    width: 70px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 30%;
}

.footer {
    width: 100%;
    background-color:rgb(0, 0, 83); 
    color: antiquewhite;
    font-weight: bold;
    font-size: x-large;
       
}

.fotoFooter {
    border-radius: 50%;
}

.parrafoFooter {
    color:#ba35a6;
}





@media screen and (max-width:1000px){
    .btnNavbar {
      margin-bottom: 20px;
      margin-left: 100px;
      
    }

}

@media screen and (max-width:950px){
    .btnNavbar {
      margin-bottom: 20px;
      margin-left: 100px;
      
    }

   .h1 {
    margin-left: 10px;
   }

   .main {
    grid-template-columns: none;
   }

   .fotomia {
    max-width: 400px;
    margin: 50px;
   }

   .tituloInsignias {
      margin-left: 70px;
   }

   .fotosInsignias {
      margin-left: 50px;
   }
   .footer {
    font-size: large;
   }

}

@media screen and (max-width:750px){
    .footer {
        /* margin-left: 20px; */
    }

    .nombreFooter {
        margin-top: 30px;
    }
}

@media screen and (max-width:650px){
    .menu {
        font-size: large;
    }
    .fotomia {
        max-width: 300px;
    }

    .sobreMi {
        font-weight: bold;
        font-size: large;
    }

    .fotosInsignias {
        width: 300px;
    }

    .footer {
        font-size: x-large;
    }
}

@media screen and (max-width:450px){
    .fotomia {
        max-width: 250px;
    }

    .sobreMi {
        font-weight: bold;
        font-size: medium ;
    }

    .fotosInsignias {
        width: 250px;
        margin-left: 10px;
    }
    .footer {
        font-size: large;
    }
}
